In [1]:
import pandas as pd
import os

In [2]:
rank_files = os.listdir("../ranks/")
rank_files

['bcr_rank_output_NEW.csv',
 'ccr_rank_output_NEW.csv',
 'page_rank_output.csv',
 'sir_v2.csv',
 'user_rank_1_output.csv']

In [3]:
user_list = []

for file in rank_files:
    df = pd.read_csv("../ranks/"+file)
    
    for i in df.iloc[:, 0][:100]:
        if i not in user_list:
            user_list.append(i)

In [4]:
len(user_list)

309

In [5]:
tweet_files = os.listdir("../../feature-extraction/data/")
len(tweet_files)

48167

In [6]:
tweet_files[0].replace("_tweets.csv", "")

'001Danish'

In [7]:
import random

In [8]:
# for i in range(0, 691):
#     filename = random.choice(tweet_files)
#     username = filename.replace("_tweets.csv", "")
    
#     if username not in user_list:
#         user_list.append(username)

In [9]:
j = 0
while j< 691:
    filename = random.choice(tweet_files)
    username = filename.replace("_tweets.csv", "")
    
    if username not in user_list:
        user_list.append(username)
        j+=1

In [10]:
len(user_list)

1000

In [11]:
out_df = pd.DataFrame(data={"username": user_list})
out_df

            username
0    deepikapadukone
1           tomhanks
2      iamjohnoliver
3     RobertDowneyJr
4             Malala
..               ...
995      tacio_berto
996        glsnayldz
997           grcpim
998          munira_
999      AalimJaveri

[1000 rows x 1 columns]

In [12]:
out_df.to_csv("userList.csv", index=False)