In [1]:
import pandas as pd

In [2]:
bcr = pd.read_csv("./ranks/bcr_rank_output_NEW.csv")
bcr.head()

              Name           ID  Bet-Cent Rank Score
0  deepikapadukone  101695592.0             0.195826
1         tomhanks   50374439.0             0.060643
2    iamjohnoliver  316389142.0             0.052152
3   RobertDowneyJr   47786101.0             0.036332
4           Malala  937499232.0             0.034174

In [3]:
bcr = bcr.sort_values(by="Bet-Cent Rank Score", ascending=False)
bcr.head()

              Name           ID  Bet-Cent Rank Score
0  deepikapadukone  101695592.0             0.195826
1         tomhanks   50374439.0             0.060643
2    iamjohnoliver  316389142.0             0.052152
3   RobertDowneyJr   47786101.0             0.036332
4           Malala  937499232.0             0.034174

In [4]:
page_ranks = pd.read_csv("./ranks/page_rank_output.csv")
page_ranks = page_ranks.sort_values(by="Page Rank", ascending=False)
user_ranks = pd.read_csv("./ranks/user_rank_1_output.csv")
user_ranks = user_ranks.sort_values(by="User Rank(In)", ascending=False)

In [5]:
def get_accuracy(test_df, pred_df):
    test = []
    pred = []
    for i in range(100):
        test.append(test_df['Name'][i])
        pred.append(pred_df['Name'][i])
        
    count = 0
    for i in test:
        if i in pred:
            count += 1
    return count

In [6]:
bcr_page_rank_acc = get_accuracy(page_ranks, bcr)
bcr_page_rank_acc

44

In [7]:
bcr_user_rank_acc = get_accuracy(user_ranks, bcr)
bcr_user_rank_acc

46

# ccr

In [8]:
ccr = pd.read_csv("./ranks/ccr_rank_output_NEW.csv")
ccr.head()

              Name           ID  Cls-Cent Rank Score
0  deepikapadukone  101695592.0             0.373092
1         tomhanks   50374439.0             0.340883
2           Malala  937499232.0             0.334121
3    iamjohnoliver  316389142.0             0.328937
4     iamvasanth93  302119623.0             0.328904

In [9]:
ccr = ccr.sort_values(by="Cls-Cent Rank Score", ascending=False)
ccr

                 Name            ID  Cls-Cent Rank Score
0     deepikapadukone  1.016956e+08             0.373092
1            tomhanks  5.037444e+07             0.340883
2              Malala  9.374992e+08             0.334121
3       iamjohnoliver  3.163891e+08             0.328937
4        iamvasanth93  3.021196e+08             0.328904
...               ...           ...                  ...
7647         Nise_Gel  2.278568e+09             0.000000
7648    FindBestVenue  2.278993e+09             0.000000
7649     Anj_souldeli  2.279508e+09             0.000000
7650        DrinkKava  2.298086e+09             0.000000
8113         nmurugan  9.986872e+07             0.000000

[8114 rows x 3 columns]

In [10]:
ccr_page_rank_acc = get_accuracy(page_ranks, ccr)
ccr_page_rank_acc

21

In [11]:
ccr_user_rank_acc = get_accuracy(user_ranks, ccr)
ccr_user_rank_acc

19